
/*----Desktop section----*/

    /*--article-link--*/
.article-link {
    font-size: 0.8rem;
    width: 11rem;
    height: 8rem;
    margin: 0 1rem 1rem 1rem;
    box-shadow: 0 0 4em 0.4rem #1e1e1e inset;
    text-shadow: 0 0 10px #131313;
    padding-top: 0;
    padding-bottom: 0;
    color: #e6e6e6;
    vertical-align: top;
}

.article-link:hover {
    transform: scale(1.05);
    transition: 100ms;
}

.article-link:focus {
    transform: scale(0.978);
    transition: 100ms;
}
        /*----*/

    /*-article-big-*/
.article-link-big {
    width: 87%;
    height: 9.5rem;
    margin: 1rem;
    color: #e6e6e6;
    box-shadow: 0 0 10px 10px #1e1e1e inset;
    text-shadow: 0 0 10px #131313;
}

.article-link-big:hover {
    transform: scale(1.0115);
    transition: 100ms;
}

.article-link-big:focus {
    transform: scale(0.987);
    transition: 100ms;
}
        /*----*/

/*--------*/

/*----Mobile section----*/

/*--article-link--*/
.article-link-mobile {
    font-size: 0.8rem;
    width: 80%;
    height: 3rem;
    margin: 0 1rem 1rem 1rem;
    box-shadow: 0 0 4em 0.4rem #1e1e1e inset;
    text-shadow: 0 0 10px #131313;
    padding-top: 0;
    padding-bottom: 0;
    color: #e6e6e6;
    vertical-align: top;
}

.article-link-mobile:hover {
    transform: scale(1.05);
    transition: 100ms;
}

.article-link-mobile:focus {
    transform: scale(0.978);
    transition: 100ms;
}
/*----*/

/*-article-big-*/
.article-big-mobile {
    width: 87%;
    height: 9.5rem;
    margin: 1rem;
    color: #e6e6e6;
    box-shadow: 0 0 4em 0.4rem #1e1e1e inset;
    text-shadow: 0 0 10px #131313;
}

.article-big-mobile:hover {
    transform: scale(1.0115);
    transition: 100ms;
}

.article-big-mobile:focus {
    transform: scale(0.987);
    transition: 100ms;
}

/*----*/

/*--------*/

#rules {
    background: url("../assets/compass-tmp.webp") center/100% no-repeat;
}

#rules:hover {
    transform: scale(1.0115);
    transition: 100ms;
}

#rules:focus {
    transform: scale(0.987);
    transition: 100ms;
}

#shops {
    background: url("../assets/stall_image.webp") center/110% no-repeat;
}

#shops.article-link-big {
    background: url("../assets/stall_image.webp") center/100% no-repeat;
}

#chat-rules {
    background: url("../assets/ping.webp") center/110% no-repeat;
}
#chat-rules.article-link-big {
    background: url("../assets/ping.webp") center/60% no-repeat;
}

#items {
    background: url("../assets/item.webp") center/150% no-repeat;
}
#items.article-link-big {
    background: url("../assets/item.webp") center/99% no-repeat;
}

#transmutation {
    background: url("../assets/circle.webp") center/150% no-repeat;
}
#transmutation.article-link-big {
    background: url("../assets/circle.webp") center/100% no-repeat;
}

#brewing {
    background: url("../assets/alchemy.webp") center/100% no-repeat;
}

#events {
    background: url("../assets/raids.webp") center/120% no-repeat;
}
#events.article-link-big {
    background: url("../assets/raids.webp") center/100% no-repeat;
}

#bazaar {
    background: url("../assets/bazaar.webp") center/145% no-repeat;
}
#bazaar.article-link-big {
    background: url("../assets/bazaar.webp") center/100% no-repeat;
}

#ranks {
    background: url("../assets/board.webp") center/115% no-repeat;
}
#ranks.article-link-big {
    background: url("../assets/board.webp") center/99% no-repeat;
}

#classes {
    background: url("../assets/classes.webp") center/120% no-repeat;
}
#classes.article-link-big {
    background: url("../assets/classes.webp") center/100% no-repeat;
}

#glossary {
    background: url("../assets/book.webp") center/130% no-repeat;
}
#glossary.article-link-big {
    background: url("../assets/book.webp") center/100% no-repeat;
}

#overall {
    background: url("../assets/wizard.webp") center/100% no-repeat;
}
#overall.article-link-big {
    background: url("../assets/wizard.webp") center/99% no-repeat;
}

#start {
    background: url("../assets/tea.webp") center/100% no-repeat;
}
#start.article-link-big {
    background: url("../assets/tea.webp") center/99% no-repeat;
}

#pvp {
    background: url("../assets/swords.webp") center/160% no-repeat;
}
#pvp.article-link-big {
    background: url("../assets/swords.webp") center/100% no-repeat;
}

#resources {
    background: center/105% no-repeat url("https://sun9-49.userapi.com/s/v1/ig2/XSVpLN2sYtZ7aEU13b7CSt3Js9wl_zq9dP314dcjU0lhlaOeGvPlmdEQ4HL5O2kkpFFF44mD_oE4UHS2Lc6bXgIb.jpg?quality=95&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720,736x736&from=bu&cs=736x0");
}
#resources.article-link-big {
    background: center 50% no-repeat url("https://sun9-49.userapi.com/s/v1/ig2/XSVpLN2sYtZ7aEU13b7CSt3Js9wl_zq9dP314dcjU0lhlaOeGvPlmdEQ4HL5O2kkpFFF44mD_oE4UHS2Lc6bXgIb.jpg?quality=95&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720,736x736&from=bu&cs=736x0");
}

.art-desc-mobile {
    display: none;
}
