.article a:not(.article details a) {
    color: #64851b;
    text-decoration: underline;
}

.article blockquote:not(.td-quote) {
    border-left: 3px solid #ccc;
    padding-left: 1rem;
    background-color: #2b2b2b;
}

#container-mobile ul {
    padding-left: 1rem;
}

#container-mobile blockquote:not(.td-quote) {
    margin-left: 0.5rem;
    width: 90%;
}

#container img:not(.dont) {
    display: flex;
    justify-self: center;
    max-width: 45rem;
}

#container-mobile img:not(.dont) {
    display: flex;
    justify-self: center;
    max-width: 19rem;
}

.table-div {
    overflow-y: auto;
    overflow-x: auto;
}

.table-container {
    width: 100%;
    background-color: #292929;
    border-radius: 5px;
    padding: 5px;
}

.article {
    text-align: left;
    margin: 1.4rem;
}

.article p:not(.pic_desc) {
    font-size: 1.1rem;
    margin-top: 2rem;
}

.article h1 {
    font-size: 2.5rem;
}

.article table {
    border-spacing: 1rem;
}

.article details:not(.table-container) {
    background-color: #2c292e;
    border-radius: 5px;
    width: 80%;
    color: #cccccc;
    padding: 0.5rem 0 0.01rem 1rem;
}

.pic_desc {
    display: flex;
    justify-self: center;
    font-size: 1rem;
}

.td-quote {
    text-align: center;
    position: relative;
    margin: 2rem 5rem;
}

.td-quote::before {
    border-top: 1px solid #ccc;
    content: '';
    position: absolute;
    display: block;
    width: 34%;
    height: 1px;
    /*margin: -0.5rem 0 0 34%;*/
    top: -0.5rem;
    left:34%
}

.td-quote::after {
    border-bottom: 1px solid #ccc;
    content: '';
    position: absolute;
    display: block;
    width: 34%;
    height: 1px;
    margin: 0.5rem 0 0 34%;
}

p:has(.pic_desc) {
    display: grid;
}

