:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    margin: 0;

    color-scheme: light dark;
    color: #cccccc;
    background-color: #1d1d1d;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    align-self: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    max-width: 50%;
    margin-left: 24%;
    margin-top: 2rem;
    border-radius: 20px;
    border: 1px solid #363a37;
    min-height: 100%;
    scrollbar-width: none;
}

#container-mobile {
    max-width: 98%;
    margin: 7% 2% 0 2%;
    border-radius: 20px;
    border: 1px solid #363a37;
    min-height: 100%;
}

#container-mobile img:not(.dont) {
    display: flex;
    justify-self: center;
    max-width: 20rem;
}

hr {
    max-width: 90%;
    height: 1px;
    border: 0 solid;
    background: #7d7d7d;
    border-radius: 10px;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1:not(.article h1) {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 0 solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

code {
    background-color: #231b2a;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    border: 0 solid transparent;
    border-radius: 8px;
    letter-spacing: 1px;
    font-family: system-ui Cascadia Mono;
}
